<!DOCTYPE html>
<html>
  <head>
    <title>Oauthapp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/navbar' %>
    </header>
    <main class="main">
      <%= render partial: 'layouts/flash' %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>
    <footer class="footer">
      &copy; ashish
    </footer>
  </body>
</html>
